
.navbar {
display: none;
width: 100%;
z-index: 1000;
background: white;
}

/* Sticky effect when scrolled past 100px */
.navbar.sticky {
position: fixed;
top: 0;
left: 0;
width: 100%;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
display: block;
}

.navbar_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5px;
    white-space: nowrap;
    flex-wrap: nowrap;
    max-width: 1200px;
    margin: auto;
    gap:30px;
}
@media (max-width: 1050px) {
  .navbar_inner {
      flex-direction:column;
      gap: 5px;
  }
  .navbar .admin-controls {
      width:100%;
      order: -1;
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
  }
  .navbar_inner_nav{
    width: 100%;
  }
  .navbar_inner_nav .nav-menu{
    flex: 1;
  }
}


.logo {
    font-size: 22px;
    font-weight: 800;
    font-style: oblique;
    color: #ccc;
}

nav ul { list-style: none; display: flex; margin: 0; padding: 0; gap:10px; justify-content: flex-end;align-items: center;}

nav li { margin: 0 15px; }

nav a, .nav-item-home a {text-decoration: none; font-size: 12px; display: flex; align-items: center;flex-direction: column; color:#000 }
nav .active a, .nav-item-home.active a{color:var(--primary-color); font-weight: 600;}
.nav-item-home i {font-size:22px}

nav a i{font-size: 16px;}

/* More Dropdown */
.more-dropdown {
display: none;
}

/* Dropdowns */
nav .generic-dropdown { position: relative; display: inline-block; cursor: pointer; }

nav .dropdown-button { 
    padding: 10px;
    background: #fff3;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px; 
}

nav .dropdown-content , nav .dropdown-content-nav {
display: none; position: absolute;right: 0;background: white; border: 1px solid #ccc;
min-width: 200px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); z-index: 1;
}
nav .dropdown-content div, nav .dropdown-content-nav div {
padding: 10px; display: flex; align-items: center; gap: 10px; cursor: pointer;
}
nav .dropdown-content div:hover, nav .dropdown-content-nav div:hover { background: #f1f1f1; }
nav  .dropdown-content.show, nav  .dropdown-content-nav.show {  display: block;  }
nav .flag { width: 20px; height: 14px; }
nav .search-box { width: 100%; padding: 8px; border: 1px solid #ccc; margin-bottom: 8px; }

/* Currency */
nav .currency-group { font-weight: bold; padding: 5px 0; color: #666; border-bottom: 1px solid #ddd; margin-top: 5px; }
nav .currency-item { padding: 8px 12px; cursor: pointer; display: flex; justify-content: space-between; }
nav .currency-item:hover { background: #f1f1f1; }

/* Show dropdown */
nav .show { display: block; }

/* Responsive */
@media screen and (max-width: 768px) {
.navbar { flex-direction: column; }
/* nav ul { flex-direction: column; align-items: center; width: 100%; } */
nav li { margin: 10px 0; }
.nav-actions {
flex-wrap: wrap;
align-content: center;
align-items: center;
gap: 20px;
}
nav .more-dropdown {
display: block;
}
}







header{
    position:absolute;
    width: 100%;
    top:0;left:0;
    z-index: 99;
}

.top-navbar{
display: flex;
justify-content: space-around;
align-items: center;
flex-wrap: wrap;
padding: 10px 5px;
white-space: nowrap;
width: 100%;
max-width: 1200px;
margin:auto;
color: #fff;
flex-wrap: wrap;
row-gap: 30px;
}

@media (max-width: 768px) {
  .top-navbar .logo{display: none;}
  .top-navbar .admin-controls{display: none;}
}
@media (max-width: 468px) {
  .top-navbar {flex-wrap:nowrap;align-items: flex-start;}
  .top-navbar .nav-div-item {border:none;}
  .top-navbar .small_text {text-wrap:wrap}
}
.nav-div-item{
    border-left:1px solid #ddd;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

.small_text{
    font-size: 12px;
    color: var(--primary-light) !important;
}
.nav-div-item p {margin:0; color:#fff;}

@media (max-width: 768px) {
  .top-navbar .nav-div-item p {font-size: 12px;}
  .top-navbar .nav-div-item .small_text {font-size: 10px;}
}

.top-navbar .dropdown-button { 
    color:#fff;
}

.nav-menu-home {
background: #fff;
max-width: 900px;
margin: 40px auto 0;;
box-shadow: 1px 1px 1px #ddd;
border-radius: 20px;
padding: 20px 10px;
display: flex;
gap: 20px;
justify-content: space-around;
flex-wrap: wrap;
}
@media (max-width: 768px) {
  .nav-menu-home {
    margin-top: 10px;
  }
}
.nav-item-home {flex: 1;text-align: center; min-width: 100px;}







